.element__btn-del {
    background-image: url('../../../images/Trash.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}