.popup__btn-submit_auth {
    background-color: white;
    margin: 186px auto 15px;
    color: black;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 685px) {
    .popup__btn-submit_auth {
        max-width: 260px;
        max-height: 46px;
        font-size: 16px;
        line-height: 19px;
        margin: 143px auto 20px;
    }
}