.popup__btn-submit {
    margin-top: 18px;
    margin-bottom: 37px;
    padding: 0;
    max-width: 358px;
    min-height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 560px) {
    .popup__btn-submit {
        margin: 15px 0 25px;
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}